@import '~@anyvision/style-guide';

.container {
  background-color: av-color(content);
  height: fit-content;
  width: fit-content;
  padding: 0 av-space(base);
  border-radius: av-radius(base);
}

.rangeContainer {
  background-color: av-color(content);
  height: av-size(sz-32);
  padding: av-space(base) 0;
  display: flex;
  width: min-content;
  justify-content: center;
  align-items: center;
  position: relative;

  input[type='range'] {
    -webkit-appearance: none;
    border-radius: av-radius(tidy);
    background: av-color(ac-rigel);
    outline: none;
    cursor: grab;
    height: 2px;
    width: av-size(sz-240);

    &::-moz-range-thumb,
    ::-webkit-slider-thumb {
      height: av-space(base);
      width: av-space(base);
      color: av-color(primary);
    }

    &:active::-webkit-slider-thumb,
    :active::-moz-range-thumb {
      -webkit-appearance: none;
      border-radius: av-radius(circle);
      color: av-color(purewhite);
      transition: all 0.15s ease-in-out;
      &:hover {
        background: av-color(ac-procyon);
        transform: scale(1.1);
      }
    }

    &:disabled {
      cursor: default;
      opacity: av-opacity(disabled);
    }
  }

  .label {
    position: absolute;
    color: av-color(purewhite);
    font-size: 11px;
    bottom: 5px;
  }

  .minLabel {
    left: 5px;
  }

  .maxLabel {
    right: 5px;
  }

  .tooltip {
    position: absolute;
    z-index: av-z-index(popup);
    bottom: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding: av-space(tiny);
    border-radius: av-radius(base);
    color: av-color(purewhite);
    background-color:av-color(decorative);

    &::before {
      content: '';
      position: absolute;
      background-color:av-color(decorative);
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      z-index: av-z-index(popup);
      height: 5px;
      width: 10px;
      clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
  }
}
